Parte2/IA_1_Panorama/figs/cloud*
Parte2/IA_1_Panorama/figs/Hola*
Parte2/IA_1_Panorama/figs/miss*
Parte2/IA_1_Panorama/aprendi*
Parte2/IA_1_Panorama/movimien*
Parte2/IA_2_AutomatasCelulares/requi*
Parte2/IA_2_AutomatasCelulares/codigo*
Parte2/IA_2_AutomatasCelulares/IA_2_AC_2D.ipynb
Parte2/IA_2_AutomatasCelulares/IA_2_AC_2DV2.ipynb
Parte2/IA_2_AutomatasCelulares/*.py